@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy:   #002f45;
  --teal:   #bdd1d3;
  --sand:   #d2c296;
  --cream:  #e0decd;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--cream);
}

.font-display {
  font-family: 'Playfair Display', serif;
}